*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Open Sans', sans-serif;
}
.container{
    width: 90%;
    margin:auto ;
}
/* Start header */
header{
    height: 80px;
    display: flex;
    align-items: center;
    font-family: 'Raleway', sans-serif;
    position: relative;
}
header .logo {
    flex: 1;
    
}
@media(max-width:768px){
    header .logo{
        left: 0;
        scale: .9;
    }
}
header nav ul{
    list-style: none;
}
header nav ul li{
    display: inline-block;
    margin-left: 80px;
}
@media(max-width:768px){
    header nav ul li{
        display: inline-block;
        margin-left: 10px;
        font-size: 16px;
    }
}
header nav ul li a{
    text-decoration: none;
    color: black;
}

/* End header */

/* Start Landing */

.landing{
    display: flex;
    align-items: center;
    gap: 5%;
    margin-block-start: 80px;
}
@media(max-width:768px){
    .landing{
        flex-direction: column;
        text-align: center;
    }
}
.landing .info{
    flex: 1;
}
.landing .info h2{
    line-height: 1.6;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 10px;
}
.landing .info p{
    font-size: 14px;
    
}
.landing .info form{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-block-start: 20px;
}
@media(max-width:768px){
    .landing .info form{
        flex-direction: column;
    }
}
.landing .info form input{
    padding: 10px 10px;
    width: 55%;
    border-radius: 5px;
    border: solid 2px hsl(0, 0%, 75%);
    box-shadow: 0px 5px 15px rgb(224, 224, 221);
}
.landing .info form input::placeholder{
    color: hsl(0, 0%, 75%);
}
.landing .info form button{
    width: 30%;
    padding: 10px 10px;
    background-color: hsl(224, 93%, 58%);
    color: white;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 5px 15px rgb(224, 224, 221);
}
.landing form button:hover{
    background-color: hsl(224, 86%, 72%);
}
@media(max-width:375px){
    .landing .info form input{
        width: 90%;
    }
    .landing .info form button{
        width: 97%;
    }
}
.landing .image{
    width: 50%;
    height: 650px;
    background-image: url(../images/illustration-1.svg);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}
@media(max-width:768px){
    .landing .image{
        width: 70%;
        height: 350px;
        order: -1;
        margin-block-end: 10px;
    }
}
@media(max-width:480px){
    .landing .image{
        width: 100%;
    }
}
/* End Landing */

/* Start page-2 */
.page-2 {

    background-color: hsl(240, 75%, 98%);
    position: relative;
}
.page-2 ::before{
    content: "";
    position: absolute;
    width: 100%;
    background-image: url(../images/bg-curve-desktop.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    top: -78px;
    left: 50%;
    transform: translateX(-50%);
    height: 80px;
}
@media(max-width:1000px){
    .page-2 ::before{
        top: -60px;
    }
}
@media(max-width:768px){
    .page-2 ::before{
        background-image: url(../images/bg-curve-mobile.svg);
        top: -70px;
        width: 140%;
    }
}
.page-2 .container{
    display: flex;
    align-items: center;
    gap: 5%;
    margin-block-start: 100px;
}
@media(max-width:768px){
    .page-2 .container{
        flex-direction: column-reverse;
    }
}
.page-2 .content{
    flex: 1;
}
@media(max-width:768px){
    .page-2 .content{
        text-align: center;
    }
}
.page-2 .content h2{
    line-height: 1.6;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 10px;
}
.page-2 .content p{
    font-size: 14px;
    margin-block-end: 10px;
}
@media(max-width:768px){
    .page-2 .content p{
        text-align: left;
    }
}
.page-2 .content a {
    color: hsl(170, 45%, 43%);
    text-decoration: none;
    border-bottom: solid 1px #3c9f8f;
    display: inline-block;
    padding-block-end: 2px;
    margin-block-end: 20px;
}
.page-2 .content a:hover {
    color: hsl(169, 64%, 66%);
}
.page-2 .content a i svg{
    background-color: #3c9f8f;
    border-radius: 50%;
    margin-block-end: -2px;
}
.page-2 .image{
    width: 50%;
    height: 650px;
    background-image: url(../images/illustration-2.svg);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}
@media(max-width:768px){
    .page-2 .image{
        width: 60%;
        height: 350px;
        margin-block-end: 60px;
    }
}
@media(max-width:480px){
    .page-2 .image{
        width: 100%;
        height: 350px;
    }
}
.page-2 .content .quote{
    background-color: white;
    padding: 15px 20px;
    border-radius: 5px;
    box-shadow: 0px 5px 15px rgb(224, 224, 221);
    max-width: 300px;
}
@media(max-width:768px){
    .page-2 .content .quote{
        margin: 20px auto 80px;
        text-align: left;
    }
}
.page-2 .content .quote p{
    font-size: 14px;
}
.page-2 .content .quote .info img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    float: left;
    margin-inline-end: 10px;
}
.page-2 .content .quote .info .name{
    font-weight: bold;
    font-size: 14px;
}
.page-2 .content .quote .info .title{
    display: block;
    font-size: 14px;
}
/* End page-2 */

/* start access */
.access{
    background-color: hsl(238, 22%, 44%);
}
.access .container{
    padding: 80px 0 60px;
    display: flex;
    align-items: center;
    gap: 10%;
}
@media(max-width:768px){
    .access .container{
        flex-direction: column;
        text-align: center;
    }
}
.access .content{
    flex: 1;
}
.access .content h2{
    line-height: 1.6;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 10px;
    color: hsl(240, 75%, 98%);
}
.access .content p{
    font-size: 14px;
    color: hsl(0, 0%, 75%);
}
.access form{
    width: 40%;
}
@media(max-width:768px){
    .access form{
        width: 100%;
        margin-block-start: 30px;
    }
}
.access form input{
    width: 70%;
    padding: 10px;
    border: none;
    margin-block-end: 10px;
}
.access form input::placeholder{
    color: hsl(0, 0%, 75%);
}
.access form button{
    width: 180px;
    background-color: hsl(224, 93%, 58%);
    color: white;
    border: none; 
    padding: 10px;  
}
.access form button:hover{
    background-color: hsl(224, 86%, 72%);
}
@media(max-width:375px){

    .access form button{
        width: 57%;
    }
}
@media(max-width:768px){
    .access form input{
        width: 50%;
    }
}
footer{
    background-color: hsl(243, 87%, 12%);
    color: hsl(240, 75%, 98%);
}
footer .container{
    padding: 80px 0 60px;
}
footer .container .content{
    display: flex;
    margin-block-start: 30px;
    gap: 18%;
}
@media(max-width:1440px){
    footer .content{
        gap: 15%;
    }
}
@media(max-width:1200px){
    footer .content{
        gap: 10%;
    }
}
@media(max-width:992px){
    footer .content{
        gap: 8%;
    }
    footer{
        font-size: 12px;
    }
}
@media(max-width:768px){
    footer .content{
        flex-direction: column;
        text-align: left;
        margin: 0;
    }
}
footer ul{
    list-style: none;
}
@media(max-width:768px){
    footer ul{
        margin-block-end: 20px;
    }
}
footer ul li{
    margin-block-end: 10px;
}
footer .info span{
    margin-inline-end: 10px;
}
footer .icon{
    display: flex;
    gap: 10px;

}
@media(max-width:768px){
    footer .icon{
        width: 100px;
        margin: auto;
    }
}
footer .icon li{
    border: solid 1px white;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer ul li:hover{
    color: hsl(224, 93%, 58%);
}
footer .co-ri{
float: right;
}
@media(max-width:768px){
    footer .co-ri{
        float: none;
        margin: auto;
        width: 270px;
        }
}
.attribution {
    font-size: 11px;
    text-align: center;
    margin-block-start: 60px; 
}
/* End access */